@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-heading: "Croissant One", serif;
  --font-body: "Noto Sans", sans-serif;
  --color-brand-blue: #005890;
  --color-brand-red: #ea1d38;
}
